<div class="row">
  <div class="span0 well text-center">
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
        <span class="vote-up"></span><!--<i class='icon-chevron-up'></i>-->
      <% end %>
      <br/>
      <span id='post_<%= post.slug %>_votes'><%= post.total_votes %> votes</span>
      <br/>
      <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
        <span class="vote-down"></span><!--<i class='icon-chevron-down'></i>-->
      <% end %>
    <% else %>
      <%= link_to 'Register', register_path %>
      <br/>or <%= link_to 'Login', login_path %>
      <br/>to vote!
    <% end %>
  </div>
  <div class="span8 well">
    <%= render post.categories %>
    <h4><%= link_to(post.title, fix_url(post.url)) %></h4>
    <p><%= post.description %> </p>
    <p>
      <span class="quiet">posted by <%= link_to post.creator.username, user_path(post.creator) %>
      <small>on <%= pretty_datetime(post.created_at) %></small></span>
    </p>
    <small>
    <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
    </span>
    </small>
  </div>
</div>
<hr/>